
@{
    ViewBag.Title = "FactoresMedicion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/WebJs/HomeJs/FactoresMedicion.js"></script>
<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Factores de Medición</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        En esta sección puedes ver un listado de los factores de medición que se encuentran activos, puedes crear uno nuevo.
                    </p>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            @{
                                var grid = new WebGrid(Model);
                            }
                            @grid.GetHtml(
                                                            htmlAttributes: new { id = "tblFactoresMedicion" },
                                                            tableStyle: "table table-bordered",
                                                            columns:
                                                                grid.Columns(
                                                                    grid.Column(header: "Identificador", format: @<text>@item.IdFactor</text>),
                                                                    grid.Column(header: "Nombre Factor", format: @<text>@item.NombreFactor</text>),
                                                                    grid.Column(header: "Parametro Factor", format: @<text>@item.ParametroFactor</text>),
                                                                    grid.Column(header: "Frecuencia Factor", format: @<text>@item.FrecuenciaFactor</text>),
                                                                    grid.Column(header: "Temperatura Factor", format: @<text>@item.TemperaturaFactor</text>),
                                                                    grid.Column(header: "Alimentación Factor", format: @<text>@item.AlimentacionFactor</text>),
                                                                    grid.Column(header: "Oxigeno Factor", format: @<text>@item.OxigenoFactor</text>)
                                                                ))
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Nuevo Factor de Medición</button>
                            </div>
                        </div>
                        <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Agregar Factor de Medición</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Ingrese los datos solicitados</h4>
                                        <div class="x_content">
                                            <br />
                                            <form class="form-horizontal form-label-left input_mask">
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control has-feedback-left" id="nombreFactor" placeholder="Nombre Factor">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control" id="parametroFactor" placeholder="Parametro Factor">
                                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control has-feedback-left" id="frecuenciaFactor" placeholder="Frecuencia Factor">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control" id="temperaturaFactor" placeholder="Temperatura Factor">
                                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control has-feedback-left" id="alimentacionFactor" placeholder="Alimentación Factor">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" required="required" class="form-control" id="oxigenoFactor" placeholder="Oxigeno Factor">
                                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                                </div>
                                                <div class="ln_solid"></div>
                                                <div class="form-group">
                                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                        <button class="btn btn-primary" type="reset">Resetear</button>
                                                        <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

