
@{
    ViewBag.Title = "PreparacionDespacho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/WebJs/ProduccionJS/PreparacionDespacho.js"></script>



<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Registro en Preparación y Despacho</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Este listado muestra los Registro en Preparación y Despacho
                    </p>
                    <div class="table-responsive">
                        @{
                            var grid = new WebGrid(Model, canPage: false);
                        }
                        @grid.GetHtml(
htmlAttributes: new { id = "tblPreparacionDespacho" },
exclusions: new[] { "IdOrigen", "IdDestino" },
tableStyle: "table table-bordered",
columns:
grid.Columns(
grid.Column(columnName: "Id", header: "Id", format: @<text>@item.IdPreparoDespacho</text>),
grid.Column(columnName: "FechaEnvio", header: "Fecha Envio", format: @<text>@item.FechaEnvio</text>),
grid.Column(columnName: "FechaPreparado", header: "Fecha Preparado", format: @<text>@item.FechaPreparado</text>),
grid.Column(columnName: "PesoNeto", header: "Peso Neto", format: @<text>@item.PesoNeto</text>),
grid.Column(columnName: "PesoBruto", header: "Peso Neto Estimado", format: @<text>@item.PesoBruto</text>),
grid.Column(columnName: "Cantidad", header: "Cantidad", format: @<text>@item.Cantidad</text>),
grid.Column(columnName: "Calibre", header: "Calibre", format: @<text>@item.Calibre</text>),
grid.Column(columnName: "Cliente", header: "Cliente", format: @<text>@item.Cliente</text>),
grid.Column(format: @<button class="btn btn-success" type="button" data-toggle="modal" tooltip="Editar Parametro" data-target="#modalPopUpIngresoUsuario"
                             onclick="EditDespacho(@item.IdPreparoDespacho,
                                               '@item.FechaEnvio',
                                               '@item.FechaPreparado',
                                                @item.IdOrigen,
                                                @item.IdDestino,
                                                '@item.PesoNeto',
                                                '@item.PesoBruto',
                                                '@item.Cantidad',
                                                '@item.Calibre',
                                                '@item.Cliente',
                                                 '@item.NombreOrigen',
                                                 '@item.NumeroLote',
                                                 @item.IdDestino,
                                                 @item.PesoNetoEstimado,
                                                 '@item.Ploidia',
                                                 @item.CantidadCajas,
                                                 @item.VolumenMuestra,
                                                 @item.CantidadContada,
                                                 @item.LitrosContenedor,
                                                 @item.CantidadTotal,
                                                 '@item.Observaciones')">
    Editar
</button>))
)
                    </div>


                   
                    <div class="form-group">
                        <div>
                            <button type="button" id="btnNuevoDespacho" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Preparar Despacho Semilla y/o Mar</button>
                        </div>
                    </div>

                    <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">X</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Registo Preparación y Despacho Semilla y/o Mar</h4>
                                </div>
                                <div class="modal-body">
                                    @*<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">*@
                                    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                        <div style="display: none;">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Id despacho <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idDespacho" value="-1" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Número de Lote <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="numeroLote" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese BATCH Origen <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="NombreOrigen" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Fecha Envio <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-xs-12 xdisplay_inputx form-group has-feedback-right">
                                                <input id="single_cal1" type="text" class="form-control has-feedback-right" placeholder="Fecha" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Fecha Preparado <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-xs-12 xdisplay_inputx form-group has-feedback-right">
                                                <input id="single_cal3" type="text" class="form-control has-feedback-right" placeholder="Fecha" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Destino <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("ContenedorDestino", (IEnumerable<SelectListItem>)ViewBag.selectDestino, "Seleccione...", new { @class = "form-control", @required = "required", @ID = "selectDestino" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Calibres <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idCalibre" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idCantidadCalibres" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Ploidia <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="ploidia" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Peso Neto <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idPesoNeto" required="required" data-validate-minmax="1,999999999999999" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Peso Neto Estimado <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="PesoNetoEstimado" required="required" data-validate-minmax="1,999999999999999" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Peso Bruto <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="PesoBruto" required="required" data-validate-minmax="1,999999999999999" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Número de Cajas <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="number" id="numeroCajas" required="required" data-validate-minmax="1,999999999999999" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Nombre Cliente <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idCliente" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <label>Otros Datos</label>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Volumen de la Muestra (ml) <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="VolumenMuestra" name="VolumenMuestra" data-validate-minmax="1,999999999999999" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Contada <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="cantidadContada" name="cantidadContada" data-validate-minmax="1,999999999999999" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Litros en el Contenedor<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="litrosContenedor" name="litrosContenedor" data-validate-minmax="1,999999999999999" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Total<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="volumenTotal" name="volumenTotal" disabled="disabled" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Observaciones</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea id="txtObservaciones" class="form-control col-md-7 col-xs-12" name="txtObservaciones" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100"
                                                          data-parsley-validation-threshold="10"></textarea>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button id="btnCerrarModal" data-dismiss="modal" class="btn btn-primary" type="button">Cancel</button>
                                                <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                            </div>
                                        </div>
                                        @*</form>*@
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
