
@{
    ViewBag.Title = "SeguimientoSemilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/WebJs/ProduccionJS/SeguimientoSemilla.js"></script>

<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Seguimiento Semilla</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Este listado muestra los seguimiento de semillas existentes del sistema
                    </p>
                    <div class="table-responsive">
                        @{
                            var grid = new WebGrid(Model, canPage: false);
                        }
                        @grid.GetHtml(
htmlAttributes: new { id = "tblSeguimientosSemilla" },
exclusions: new[] { "idOrigen", "IdDestino", "IdFactoresMedicion" },
tableStyle: "table table-bordered",
columns:
grid.Columns(
grid.Column(columnName: "IdSeguimientoSemilla", header: "Id", format: @<text>@item.IdSeguimientoSemilla</text>),
grid.Column(columnName: "FechaRegistro", header: "FechaRegistro", format: @<text>@item.FechaRegistro1.ToString("MM/dd/yyyy") </text>),
grid.Column(columnName: "CantidadOrigen", header: "Cantidad Origen", format: @<text>@item.CantidadOrigen</text>),
grid.Column(columnName: "CalibreOrigen", header: "Calibre Origen", format: @<text>@item.CalibreOrigen</text>),
grid.Column(columnName: "CantidadCosechado", header: "Cantidad Cosechado", format: @<text>@item.CantidadCosechado</text>),
grid.Column(columnName: "CantidadCalibre", header: "Cantidad Cosechado", format: @<text>@item.CantidadCosechado</text>),
grid.Column(columnName: "CantidadCosechado", header: "Cantidad Calibre", format: @<text>@item.CantidadCalibre</text>),
grid.Column(header: "Editar", format: @<button class="btn btn-success" type="button" data-toggle="modal" tooltip="Editar Parametro" data-target="#modalPopUpIngresoUsuario"
                                               onclick="EditaSemilla(@item.idOrigen,
                                               @item.IdDestino,
                                               @item.IdFactoresMedicion,
                                               @item.IdSeguimientoSemilla, 
                                               '@item.FechaRegistro',
                                               @item.CantidadOrigen,
                                               @item.CalibreOrigen,
                                               @item.CantidadCosechado,
                                               @item.CantidadCalibre, @item.CantidadCalibre, 
                                               )">
                        Editar
                    </button>)

))

                    </div>

                    <div id="divAlert"></div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Seguimiento Semilla</button>
                        </div>
                    </div>

                    <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">X</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Ingreso Seguimiento Semilla</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">


                                        <div  style="display: none;">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Id Semilla <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdSemilla" value="-1" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Contendor Origen</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("ContenedorOrigen", (IEnumerable<SelectListItem>)ViewBag.ContenedorOrigen, "Seleccione...", new { @class = "form-control", @ID = "selectOrigen" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Fecha Registro <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-xs-12 xdisplay_inputx form-group has-feedback-right">
                                                <input id="single_cal1" name="idFechaRegistro" type="text" class="form-control has-feedback-right" placeholder="Fecha" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Factor Medición</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("FactorMedicion", (IEnumerable<SelectListItem>)ViewBag.FactorMedicion, "Seleccione...", new { @class = "form-control", @ID = "selectFactorM" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Origen <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCantidadOrigen" name="CantidadOrigen" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Calibre Origen <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCalibreOrigen" name="CalibreOrigen" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Contendor Destino</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("ContenedorDestino", (IEnumerable<SelectListItem>)ViewBag.ContenedorDestino, "Seleccione...", new { @class = "form-control", @ID = "selectDestino" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Cosechado <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCantidadCosechado" name="CantidadCosechado" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Calibre <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCantidadCalibre" name="CantidadCalibre" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button id="btnCerrarModal" data-dismiss="modal" class="btn btn-primary" type="button">Cancel</button>
                                                <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
