
@{
    ViewBag.Title = "SeguimientoLarval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/WebJs/ProduccionJS/RegistroCultivoLarval.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Seguimiento Larval</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Listado del Seguimiento del Cultivo de Larvas del mes en curso.
                    </p>
                    <div class="table-responsive">
                        @{
                            var grid = new WebGrid(Model, canPage: false);
                        }
                        @grid.GetHtml(
htmlAttributes: new { id = "tblLarvas" },
exclusions: new[] { "IdMortalidad", "IdFactor" },
tableStyle: "table table-bordered",
columns:
grid.Columns(
grid.Column(columnName: "Id", header: "Identificador", format: @<text>@item.Id</text>),
grid.Column(columnName: "CantidadDeLarvas", header: "Cantidad DeLarvas", format: @<text>@item.CantidadDeLarvas</text>),
grid.Column(columnName: "CosechaLarvas", header: "Cosecha Larvas", format: @<text>@item.CosechaLarvas</text>),
grid.Column(columnName: "NumeroEstanque", header: "Numero Estanque", format: @<text>@item.NumeroEstanque</text>),
grid.Column(columnName: "DensidadCultivo", header: "Densidad Cultivo", format: @<text>@item.DensidadCultivo</text>),
grid.Column(columnName: "FechaRegistro", header: "Fecha Registro", format: @<text>@item.FechaRegistro.ToString("MM/dd/yyyy") </text>), 
grid.Column(columnName: "NumeroEstanque", header: "Numero Estanque", format: @<text>@item.NumeroEstanque</text>),
grid.Column(header: "Editar", format: @<button class="btn btn-success" type="button" data-toggle="modal" tooltip="Editar Parametro" data-target="#modalPopUpIngresoUsuario"
                                               onclick="EditaSeguimintoLarval(@item.IdMortalidad,
                                               @item.Id,
                                               @item.CantidadDeLarvas,
                                               @item.CosechaLarvas,
                                               @item.NumeroEstanque,
                                               @item.DensidadCultivo,
                                               @item.IdFactor,
                                               @item.NumeroEstanque
                                               )">
    Editar
</button>)))




                    </div>

                    <div id="divAlert"></div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Nuevo</button>
                        </div>
                    </div>

                    <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Ingreso Seguimiento Cultivo Larval</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                        <!--div style="display: none;"-->
                                        <div style="display: none;">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Id Producción <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCultivoLarval" value="-1" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Cantidad de Larvas <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="CantidadLarvas" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cosecha Larvas <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="CosechaLarvas" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Numero Estanque <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="NumeroEstanque" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Densidad Cultivo <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="DensidadCultivo" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Factores Medicion <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("FactorMedicion", (IEnumerable<SelectListItem>)ViewBag.FactorM, "Seleccione...", new { @class = "form-control", @ID = "FactorM" })
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Mortalidad</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("TipoMortalidad", (IEnumerable<SelectListItem>)ViewBag.selectTipoM, "Seleccione...", new { @class = "form-control", @ID = "selectTipoM" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ploidia</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("Ploidia", (IEnumerable<SelectListItem>)ViewBag.selectPloidia, "Seleccione...", new { @class = "form-control", @ID = "selectPloidia" })
                                            </div>
                                        </div>


                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button id="btnCerrarModal" data-dismiss="modal" class="btn btn-primary" type="button">Cancel</button>
                                                <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
