
@{
    ViewBag.Title = "SeguimientoSemilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>


<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Seguimiento Semilla</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Este listado muestra los seguimiento de semillas existentes del sistema
                    </p>
                    <div class="table-responsive">
                        @{
                            var grid = new WebGrid(Model);
                        }
                        @grid.GetHtml(
tableStyle: "table table-bordered",
columns:
grid.Columns(
grid.Column(columnName: "IdSeguimientoSemilla", header: "Id", format: @<text>@item.IdSeguimientoSemilla</text>),
grid.Column(columnName: "NombreContendor", header: "Contendor", format: @<text>@item.NombreContendor</text>),
grid.Column(columnName: "FechaRegistro", header: "FechaRegistro", format: @<text>@item.FechaRegistro</text>),
grid.Column(columnName: "CantidadOrigen", header: "Cantidad Origen", format: @<text>@item.CantidadOrigen</text>),
grid.Column(columnName: "CalibreOrigen", header: "Calibre Origen", format: @<text>@item.CalibreOrigen</text>),
grid.Column(columnName: "CantidadCosechado", header: "Cantidad Cosechado", format: @<text>@item.CantidadCosechado</text>),
grid.Column(columnName: "CantidadCalibre", header: "Cantidad Calibre", format: @<text>@item.CantidadCalibre</text>),
grid.Column(header: "Editar", format: @<button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="EditaUsuarios(@item.IdSeguimientoSemilla)">Editar</button>))
)


                    </div>

                    <div id="divAlert"></div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Seguimiento Semilla</button>
                        </div>
                    </div>



                    <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Ingreso Seguimiento Semilla</h4>
                                </div>
                                <div class="modal-body">


                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Contendor Origen</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" id="selectPerfil">
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="1">Contenedor 1</option>
                                                    <option value="2">Contenedor 2</option>
                                                    <option value="3">Contenedor 3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Fecha Registro <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="FechaRegistro" required="required" class="form-control col-md-7 col-xs-12">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Factor Medición</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" id="selectPerfil">
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="1">Factor 1</option>
                                                    <option value="2">Factor 2</option>
                                                    <option value="3">Factor 3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Origen <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Calibre Origen <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Contendor Destino</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control  col-md-7 col-xs-12" id="selectPerfil">
                                                    <option value="-1">Seleccione...</option>
                                                    <option value="1">Contenedor 1</option>
                                                    <option value="2">Contenedor 2</option>
                                                    <option value="3">Contenedor 3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Cosechado <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Calibre <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button id="btnCerrarModal" data-dismiss="modal" class="btn btn-primary" type="button">Cancel</button>
                                                <button type="submit" class="btn btn-success">Grabar</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>