
@{
    ViewBag.Title = "SeguimientoSemilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<script src="~/WebJs/ProduccionJS/SeguimientoFijacion.js"></script>
<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Seguimiento Fijación</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Este listado muestra los seguimiento de Fijación existentes del sistema
                    </p>
                    <div class="table-responsive">
                        @{
        var grid = new WebGrid(Model, canPage: false);
                        }
                        @grid.GetHtml(
htmlAttributes: new { id = "tblSeguimientosFijacion" },
exclusions: new[] { "IdMortalidad", "FactoresMedicion", "CantidadMortalidad" },
tableStyle: "table table-bordered",
columns:
grid.Columns(
grid.Column(columnName: "IdSeguimientoFijacion", header: "Id", format: @<text>@item.IdSeguimientoFijacion</text>),
grid.Column(columnName: "FechaRegistro", header: "FechaRegistro", format: @<text>@item.FechaRegistro </text>),
grid.Column(columnName: "LarvasCalibre", header: "Larvas Calibre", format: @<text>@item.LarvasCalibre</text>),
grid.Column(columnName: "CosechaCalibre", header: "Cosecha Calibre", format: @<text>@item.CosechaCalibre</text>),
grid.Column(columnName: "LarvasCantidad", header: "Cantidad Larvas", format: @<text>@item.LarvasCantidad</text>), 
grid.Column(columnName: "Cosecha Cantidad", header: "Cantidad Cantidad", format: @<text>@item.CosechaCantidad</text>),
grid.Column(columnName: "NumeroEstanque", header: "Numero Estanque", format: @<text>@item.NumeroEstanque</text>),
grid.Column(columnName: "DensidadSiembra", header: "Densidad Siembra", format: @<text>@item.DensidadSiembra</text>),
grid.Column(format: @<button class="btn btn-success" type="button" data-toggle="modal" tooltip="Editar Parametro" data-target="#modalPopUpIngresoUsuario"
                             onclick="EditaFijacion(@item.IdSeguimientoFijacion,
                                               '@item.FechaRegistro',
                                               @item.LarvasCalibre,
                                               @item.LarvasCantidad,
                                               @item.CosechaCalibre, 
                                               @item.CosechaCantidad,
                                               @item.NumeroEstanque,
                                               @item.DensidadSiembra,
                                               @item.IdMortalidad,
                                               @item.CantidadMortalidad,
                                               @item.FactoresMedicion
                                               )">
                        Editar
                    </button>)

))

                    </div>

                    <div id="divAlert"></div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Seguimiento Fijación</button>
                        </div>
                    </div>

                    <div id="modalPopUpIngresoUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">X</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Ingreso Seguimiento Fijación</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">


                                        <div style="display: none;">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Id Seguimiento Fijacion <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdSeguimientoFijacion" value="-1" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                Fecha Registro <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-xs-12 xdisplay_inputx form-group has-feedback-right">
                                                <input id="single_cal1"  type="text" class="form-control has-feedback-right" placeholder="Fecha" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Larvas <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="idCantidadLarvas" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Calibres  Larvas <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCalibreLarvas" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cosecha Calibre <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCosechaCalibre" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Cosecha<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCosechaCantidad" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Numero Estanque<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdNumeroEstanque" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Densidad Siembra<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdDensidadSiembra" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Seleccione Mortalidad<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.DropDownList("TipoMortalidad", (IEnumerable<SelectListItem>)ViewBag.selectTipoM, "Seleccione...", new { @class = "form-control", @ID = "selectTipoM" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                Cantidad Mortalidad<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="IdCantidadMortalidad" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Factor Medición</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                @Html.ListBox("FactorM", ViewBag.FactorM as MultiSelectList, new { @class = "select2_multiple form-control", @ID = "FactorM" })

                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button id="btnCerrarModal" data-dismiss="modal" class="btn btn-primary" type="button">Cancel</button>
                                                <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
