
@{
    ViewBag.Title = "IngresoMicroAlgas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/WebJs/MicroAlgaJs/IngresoMicroAlga.js"></script>
<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Registro de Micro Algas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Este listado muestra los registros existentes del sistema, puedes ingresar un nuevo registro de Micro Algas, para editar debes tener permisos para hacerlo.
                    </p>
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        @{
                            var grid = new WebGrid(Model, canPage: false);
                        }
                        @grid.GetHtml(
                         htmlAttributes: new { id = "tblMicroAlgas"},
                         tableStyle: "table table-striped table-bordered dataTable no-footer",
                         columns:
                             grid.Columns(
                                         grid.Column(header: "Identificador", format: @<text>@item.IdMicroAlga</text>),
                                         grid.Column(header: "Especie", format: @<text>@item.NombreEspecie</text>),
                                         grid.Column(header: "Fecha de Registro", format: @<text>@item.FechaRegistro.ToString("dd/MM/yyyy")</text>),
                                         grid.Column(header: "Volumen", format: @<text>@item.VolumenSembrado</text>),
                                         grid.Column(header: "Número de Bolsa", format: @<text>@item.NumeroBolsa</text>), 
                                         grid.Column(header: "Editar", format: @<button class="btn btn-success" type="button" data-toggle="modal" tooltip="Editar Parametro" data-target="#modalPopUpIngresoMicroAlga" onclick="EditaMicroAlga(@item.IdMicroAlga,'@item.NombreEspecie', '@item.volumenSembrado', '@item.numeroBolsa','@item.FechaRegistro.ToString("dd/MM/yyyy")','@item.IdEspecie')">Editar</button>))
                                        )

                    </div>

                    <div id="divAlert"></div>
                    <div class="form-group">
                        <div>
                            <button type="button" id="btnPopUpMicroAlga" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Ingresar Micro Alga</button>
                        </div>
                    </div>

                    <div id="modalPopUpIngresoMicroAlga" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Ingresar registro Micro Algas</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Ingrese los datos solicitados</h4>
                                    <div class="x_content">
                                        <br />
                                        <input type="text" id="IdMicroAlga" style="display: none;">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccione Especie</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    @Html.DropDownList("Especies", (IEnumerable<SelectListItem>)ViewBag.ParametrosEspecies, "Seleccione...", new { @class = "form-control", @required = "required", @ID = "selectEspecies" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingresa Cantidad de Volumen</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" id="cantidadVolumen" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingresa Número de Bolsa</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" id="numeroBolsa" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12 has-feedback-right">
                                                        <input type="text" class="form-control has-feedback-right" id="single_cal1" placeholder="01/01/0001" aria-describedby="inputSuccess2Status">
                                                        <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                    <div class="col-md-9 xdisplay_inputx form-group has-feedback">
                                                        <button class="btn btn-primary" type="reset" id="btnResetPopUp">Resetear</button>
                                                        <button type="submit" class="btn btn-success" id="btnGrabarDatos">Grabar</button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

